<div class="container mt-2">
    <div *ngIf="cartItems === null">
        <p>There are no items in your basket</p>
    </div>

    <div *ngIf="cartItems">
        <div class="pb-5">
            <div class="container">
                <div class="row">
                    <div class="col-12 py-5 mb-1">
                        <div class="table-responsive">
                            <table class="table">
                                <thead>
                                    <tr>
                                        <th class="border-0 bg-light" scope="col">
                                            <div class="p-2 px-3 text-uppercase">Product</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">Price</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">Quantity</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">Total</div>
                                        </th>
                                        <th scope="col" class="border-0 bg-light">
                                            <div class="py-2 text-uppercase">Remove</div>
                                        </th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr *ngFor="let item of cartItems">
                                        <th scope="row">
                                            <div class="p-2">
                                                <img src="{{item.coverImage}}" alt="{{item.title}}"
                                                    class="img-fluid" style="max-height: 50px;">
                                                <div class="ml-3 d-inline-block align-middle">
                                                    <h5 class="mb-0">
                                                        <a routerLink="/shop/{{item.id}}"
                                                            class="text-dark">{{item.title}}</a>
                                                    </h5>
                                                    <span
                                                        class="text-muted font-weight-normal font-italic d-block">Genres:
                                                        {{item.genres.slice(0,3)}}...</span>
                                                </div>

                                            </div>
                                        </th>
                                        <td class="align-middle"><strong>${{item.price}}</strong></td>
                                        <td class="align-middle">
                                            <div class="d-flex align-items-center">
                                                <i (click)="decrementItem(item)" class="fa fa-minus-circle text-warning mr-2"
                                                    style="cursor: pointer; font-size: 2em;"></i>
                                                <span class="font-weight-bold" style="font-size: 1.5em;">
                                                    {{item.quantity}}
                                                </span>
                                                <i (click)="incrementItem(item)" class="fa fa-plus-circle text-warning mx-2"
                                                    style="cursor: pointer; font-size: 2em;"></i>
                                            </div>
                                        </td>
                                        <td class="align-middle">
                                            <strong>${{item.quantity * item.price}}</strong></td>
                                        <td class="align-middle text-center">
                                            <a class="text-danger">
                                                <i (click)="removeItem(item)" class="fa fa-trash" style="font-size: 2em; cursor: pointer;"></i>
                                            </a>
                                        </td>

                                    </tr>
                                    <tr>
                                        <td><strong>Total</strong></td>
                                        <td></td>
                                        <td></td>
                                        <td><strong>${{totalPrice}}</strong></td>
                                        <td></td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="col-6 offset-6">
                        <!-- <app-order-totals></app-order-totals> -->
                        <div class="bg-light px-4 py-3 text-uppercase font-weight-bold">
                            Order Summary
                        </div>
                        <div class="p-4">
                            <p class="font-italic mb-4">Shipping costs will be added depending on choices made during checkout</p>
                            <ul class="list-unstyled mb-4">
                                <li class="d-flex justify-content-between py-3 border-bottom">
                                    <strong class="text-muted">Order subtotal</strong>
                                    <strong></strong>
                                </li>
                                <li class="d-flex justify-content-between py-3 border-bottom">
                                    <strong class="text-muted">Shipping and handling</strong>
                                    <strong></strong>
                                </li>
                                <li class="d-flex justify-content-between py-3 border-bottom">
                                    <strong class="text-muted">Total</strong>
                                    <strong></strong>
                                </li>
                            </ul>
                        </div>
                        
                        <a routerLink="/checkout" (click)="reloadPage()" class="btn btn-outline-primary py-2 btn-block">
                            Proceed to checkout
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>