// .main-container{
//     background-image: 
//     url(https://4kwallpapers.com/images/walls/thumbs_3t/7338.jpg),

// }

.login-app{ 
    background-image: url("https://cdn.gamerjournalist.com/primary/2021/07/Roblox-Game-Codes-List.jpg");
    /* height: 100vh; */
	height: 100vh;
    background-size: cover;
    /* background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
}