.featured{
    background-image: 
    url(https://4kwallpapers.com/images/walls/thumbs_3t/7338.jpg);
    background-size: cover;
    /* background-repeat: no-repeat; */
}
.pagination ul{
    margin-bottom: 0px !important;
}